.hero-gradient {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.65)
  );
  pointer-events: none;
}

.hero-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 200;
  padding: 14px 18px;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-size: 22px;
  transition: background 0.25s ease;
  user-select: none;
}

.hero-btn.left {
  left: 20px;
}

.hero-btn.right {
  right: 20px;
}

.hero-btn:hover {
  background: rgba(0, 0, 0, 0.55);
}

.progress-container {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 4px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 4px;
  width: 0;
  background: white;
}
/* OUTSIDE PROGRESS BAR */
.progress-container-outside {
  width: 100%;
  height: 6px;
  background: rgba(255, 255, 255, 0.25);
  margin-top: -4px;
}

.progress-container-outside .progress-bar {
  height: 6px;
  width: 0;
  background: white;
}
